<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.SteamHouse">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SteamHouse">
        <activity android:name="com.example.SteamHouse.ReducersDisplay2"></activity>
        <activity android:name="com.example.SteamHouse.FlangesPcdInput" />
        <activity android:name="com.example.SteamHouse.FlangesPcdDisplay" />
        <activity android:name="com.example.SteamHouse.FlangesNomSizeTableDisplay" />
        <activity android:name="com.example.SteamHouse.FlangesNomSizeTableInput" />
        <activity android:name="com.example.SteamHouse.ReducersDisplay1" />
        <activity android:name="com.example.SteamHouse.ReducersInput" />
        <activity android:name="com.example.SteamHouse.TeesDisplay" />
        <activity android:name="com.example.SteamHouse.TeesInput" />
        <activity android:name="com.example.SteamHouse.PipesDisplay" />
        <activity android:name="com.example.SteamHouse.PipesInput" />
        <activity android:name="com.example.SteamHouse.ElbowsDisplay" />
        <activity android:name="com.example.SteamHouse.ElbowsInput" />
        <activity android:name="com.example.SteamHouse.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>